body {

    height: 1300px;
    background-color: white;
    margin: 0;
padding: 0;

}

header {
height: 70px;
background-color: black;
padding: 0px;
color:red;

}

header li {

    margin: 20px;;
    color:rgb(255, 255, 255);
    font-size: 20px;
    float: left;
    display: flex;
}

a {
    text-decoration: none; 
    color: white;
}

ul {
    background-color:white;
    height: 400px;
    margin: 0;


}

nav {

    background-color: black;
    height: 400px;

    text-decoration: none; 
    color: white;

    text-align: center;
    padding: 40px;

}

.divpascal {
    border: 5px solid black;
    width: 150px;
    height: 50px;
    
}


.div1 {



margin: auto;
text-align: center;




}

 .div2 {


margin: auto;
text-align: center;
}
.div3 {
   
  
    margin: auto;
    text-align: center;
 
  }
     

.container {
padding: 150px;
display: flex;
    column-gap: 30px;
    justify-content: center;
}

footer {
 
    height: 75px   ;
    background-color: black;
    color: white;
    text-align: center;
}

