body {

    height: 1300px;
    background-color: white;
    margin: 0;
padding: 0;

}

header {
height: 70px;
background-color: black;
padding: 0px;
color:red;

}

header li {

    margin: 20px;;
    color:rgb(255, 255, 255);
    font-size: 20px;
    float: left;
    display: flex;
}

a {
    text-decoration: none; 
    color: white;
}

ul {
    background-color:white;
    height: 400px;
    margin: 0;


}

nav {

    background-color: black;
    height: 400px;

    text-decoration: none; 
    color: white;

    text-align: center;
    padding: 40px;

}




.div1 {


border: 5px solid black;
width: 150px;
margin: auto;
text-align: center;
height: 50px;
vertical-align: text-top;
display: table-cell;
vertical-align: middle;




}

 .div2 {

border: 5px solid black;
width: 150px;
height: 50px;
margin: auto;
text-align: center;
display: table-cell;
vertical-align: middle;

}
.div3 {
   
    border: 5px solid black;
    width: 150px;
    margin: auto;
    text-align: center;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
 
  }
     

.container {
padding: 150px;
}

section {
 
    height: 75px   ;
    background-color: black;
    color: white;
    text-align: center;
}

